
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

.container{
max-width: fit-content;
margin: 50px auto;

}
.btn{
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-add{
  background: #194064;
  color: whitesmoke;
}
.Addwrapper{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Addwrapper form{
  width: 500px;
display: flex;
flex-direction: column;
padding: 40px 40px;
box-shadow:  1px 1px 8px 5px rgba(255, 2, 2, 0.1);
}

.Addwrapper form input{
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Addwrapper form label{
  font-size: 18px;
}
.Addwrapper form button{
  background-color: royalblue;
  color: white;
  margin-top: 20px;
}

.form-control{
  padding: 10px;
}
.closebtn{
  margin-left: auto;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  color: royalblue;

}
.tableContainer{
margin-top: 50px;
}
.tableContainer table{
  border: 1px solid #c9c5c2;
  border-radius: 10px;
}

.tableContainer table thead tr {
background-color: #f0eaea;
}

.tableContainer  table thead tr th,
.tableContainer table tbody tr td{
  min-width: 200px;
padding: 7px;
text-align: center;
}
.tableContainer table tbody tr td{
  border-bottom: 1px solid #c9c5c2;
}
.tableContainer table tbody tr{
  border: 1px solid #c9c5c2;
}
.tableContainer table{
  box-shadow: 5px 5px 10px  rgb(0,0,0,0.1);
}

.btn-edit{
  font-size: 14px;
  padding: 5px 10px;
  margin: 0px 10px;
  background-color: yellow ;
}
.btn-delete{
  font-size: 14px;
  padding: 5px 10px;
  background-color: red;
  color: white;
}